<div class="login-container">
  <img src="https://eva.sudamericano.edu.ec/pluginfile.php/1/theme_moove/logo/1748533581/faviconSuda%20%281%29.png" alt="Logo ITS" class="logo" />

  <h2 class="subtitle">Bienvenidos al sistema de fichas gastronómicas</h2>

  <form class="login-form">
    <input type="text" placeholder="Usuario" name="usuario" required>
    <input type="password" placeholder="Contraseña" name="contrasena" required>
    
    <button type="button" (click)="ingresar()">Acceder</button>

    <div class="extra-links">
      <a href="#">¿Olvidó su contraseña?</a>
      <a href="#">Entrar como persona invitada</a>
    </div>
  </form>
</div>
